.header_input{
    width: 322px;
    height: 64px;
    border-radius: 12px;
    opacity: 80%;
    border-color: #F2F9FF;
    box-shadow: 25px 28px 66px #B0C3D2BA;
    border-style: solid;
    margin-top: 50px;
    font-size: 20px;
}
