.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_img{
    margin-top: 50%;
    margin-bottom: 50%;
}

.text_input{
    width: 251px;
    height: 49px;
    border-radius: 74px;
    border-color: #F2F9FF;
    box-shadow: 25px 28px 66px #B0C3D2BA;
    border-style: solid;
    font-size: 14px;
    background: linear-gradient(to right, #E5EFFA, #FFFFFF);
}

.main_input{
    width: 322px;
    height: 64px;
    border-radius: 12px;
    opacity: 80%;
    border-color: #F2F9FF;
    box-shadow: 25px 28px 66px #B0C3D2BA;
    border-style: solid;
    margin-top: 50px;
    font-size: 20px;
}

#button{
    border-style: hidden;
    background-color: rgba(28,28,28,0);
}

.button_visible{
    display: block;
}

.button_invisible{
    display: none;
}